<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Controle Financeiro" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light">

    <%= render "layouts/navbar" %>

    <main class="py-4">
      <div class="container">
        <% flash.each do |tipo, mensagem| %>
          <% classe_bootstrap =
              case tipo.to_sym
              when :notice then "alert-success"
              when :alert then "alert-danger"
              else "alert-info"
              end
          %>

          <div class="alert <%= classe_bootstrap %> alert-dismissible fade show" role="alert">
            <%= mensagem %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </main>
  </body>
</html>