<div id="<%= dom_id account %>">
  <div>
    <strong>Name:</strong>
    <%= account.name %>
  </div>

  <div>
    <strong>Initial balance:</strong>
    <%= account.initial_balance %>
  </div>

  <div>
    <strong>Active:</strong>
    <%= account.active %>
  </div>

  <div>
    <strong>Account type:</strong>
    <%= account.account_type_id %>
  </div>

</div>
